# ETL Project

## Import dependencies

In [89]:
import pandas as pd
from sqlalchemy import create_engine

## Import CSVs

### · "Fatal Police Shootings in the US with Additional Census Data"
#### · CSVs were downloaded from Kaggle 
#### · Combining census and shootings data could be useful to find correlations

In [90]:
hs_file = "Resources/highschool.csv"
hs = pd.read_csv(hs_file, encoding = 'cp437')
pov_file = "Resources/poverty.csv"
pov = pd.read_csv(pov_file, encoding = 'cp437')
police_file = "Resources/killings.csv"
police = pd.read_csv(police_file, encoding = 'cp437')

### HS

#### - Shows the percentage of the population that completed high school across cities in the US

In [91]:
hs.head()

  Geographic Area             City percent_completed_hs
0              AL       Abanda CDP                 21.2
1              AL   Abbeville city                 69.1
2              AL  Adamsville city                 78.9
3              AL     Addison town                 81.4
4              AL       Akron town                 68.6

### Pov 
#### · Shows the poverty rate across cities in the US

In [92]:
pov.head()

  Geographic Area             City poverty_rate
0              AL       Abanda CDP         78.8
1              AL   Abbeville city         29.1
2              AL  Adamsville city         25.5
3              AL     Addison town         30.7
4              AL       Akron town           42

### Police 
#### ·Shows information about fatal police shootings since 2015 in the US

In [93]:
police.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

## Data Cleaning 
#### · Columns considered relevant for the analysis were copied from the original dataframe

In [94]:
clean_police = police[['date', 'armed', 'age','gender','race','city',
                            'state','signs_of_mental_illness','body_camera']].copy()
clean_police.head()

,date,armed,age,gender,race,city,state,signs_of_mental_illness,body_camera
0,02/01/15,gun,53.0,M,A,Shelton,WA,True,False
1,02/01/15,gun,47.0,M,W,Aloha,OR,False,False
2,03/01/15,unarmed,23.0,M,H,Wichita,KS,False,False
3,04/01/15,toy weapon,32.0,M,W,San Francisco,CA,True,False
4,04/01/15,nail gun,39.0,M,H,Evans,CO,False,False

#### · "date" column was converted to Pandas datetime format

In [95]:
clean_police['date'] = pd.to_datetime(clean_police.date)
clean_police.head()

,date,armed,age,gender,race,city,state,signs_of_mental_illness,body_camera
0,2015-02-01,gun,53.0,M,A,Shelton,WA,True,False
1,2015-02-01,gun,47.0,M,W,Aloha,OR,False,False
2,2015-03-01,unarmed,23.0,M,H,Wichita,KS,False,False
3,2015-04-01,toy weapon,32.0,M,W,San Francisco,CA,True,False
4,2015-04-01,nail gun,39.0,M,H,Evans,CO,False,False

#### · Columns were renamed

In [96]:
pov_matched = pov.rename(columns={"Geographic Area": "state", "City": "city"}, errors="raise")
hs_matched = hs.rename(columns={"Geographic Area": "state", "City": "city"}, errors="raise")

In [97]:
pov_matched.head()

  state             city poverty_rate
0    AL       Abanda CDP         78.8
1    AL   Abbeville city         29.1
2    AL  Adamsville city         25.5
3    AL     Addison town         30.7
4    AL       Akron town           42

In [98]:
hs_matched.head()

  state             city percent_completed_hs
0    AL       Abanda CDP                 21.2
1    AL   Abbeville city                 69.1
2    AL  Adamsville city                 78.9
3    AL     Addison town                 81.4
4    AL       Akron town                 68.6

#### · "-" values were replaced with zeroes on the HS and POV dataframes

In [99]:
pov_matched.replace(to_replace='-', value=0, inplace=True)
hs_matched.replace(to_replace='-', value=0, inplace=True)

#### · City names on the HS and POV dataframes did not match 
#### · The words "city", "town" and "CDP" were droppped from the city columns on both dataframes

In [100]:
hs_matched.replace(to_replace=[" city"," town", " CDP"], value=["","",""], inplace=True, regex= True)
pov_matched.replace(to_replace=[" city"," town", " CDP"], value=["","",""], inplace=True, regex= True)

In [101]:
hs_matched.head()

  state        city percent_completed_hs
0    AL      Abanda                 21.2
1    AL   Abbeville                 69.1
2    AL  Adamsville                 78.9
3    AL     Addison                 81.4
4    AL       Akron                 68.6

## Connection to PostgreSQL

### PostgreSQL engine was created

In [71]:
rds_connection_string = "postgres:marella0823@localhost:5432/PoliceKillings"
engine = create_engine(f'postgresql://{rds_connection_string}')

### PostgreSQL table names

In [72]:
engine.table_names()

['poverty_rate', 'hs_rate', 'killings']

### Tables on PostgreSQL were appended with the dataframes information

In [73]:
pov_matched.to_sql(name='poverty_rate', con=engine, if_exists='append', index=False)

In [74]:
hs_matched.to_sql(name='hs_rate', con=engine, if_exists='append', index=False)

In [75]:
clean_police.to_sql(name='killings', con=engine, if_exists='append', index=False)